# App
PORT=3000
NODE_ENV=development

# Auth
JWT_SECRET=speedruntccnih?

# Database
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME

# Redis
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=your_redis_password

# GCP Storage
GCP_PROJECT_ID=your_gcp_project_id
GCP_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"your_project_id"}
GCS_BUCKET_NAME=your_bucket_name
